---
const year = new Date().getFullYear()
---
<div class="footer">
    <div class="padding-global">
        <div class="container-large">
            <div class="padding-vertical padding-large">
                <div class="footer_top-wrapper">
                    <a href="/" aria-current="page" class="navbar_logo-link w-nav-brand w--current">
                        <img loading="lazy" src="/images/logos/logo-full.svg" alt="" class="navbar_logo"/>
                        <img loading="lazy" src="/images/logos/logo-text.svg" alt="" class="navbar_logo"/>
                    </a>
                    <div class="text-block">Empowering the Future of Decentralized Storage</div>
                    <div class="w-layout-grid footer_link-list">
                        <a href="/" aria-current="page" class="footer_link w--current">Home</a>
                        <a href="/events" class="footer_link">Events</a>
                        <a href="/resources" class="footer_link">Resources</a>
                        <a href="/blog" class="footer_link">Blog</a>
                    </div>
                </div>
                <div class="footer_bottom-wrapper">
                    <div class="footer_credit-text">Copyright &copy; {year} FilOz</div>
                    <div class="w-layout-grid footer_legal-list">
                        <a href="https://x.com/_FilOz" target="_blank" class="w-inline-block">
                            <img loading="lazy" src="/images/icons/twitter-footer.svg" alt=""/>
                        </a>
                        <a href="https://github.com/filecoin-project/lotus" target="_blank" class="w-inline-block">
                            <img loading="lazy" src="/images/icons/github-footer.svg" alt=""/>
                        </a>
                        <a href="https://filecoinproject.slack.com/archives/CP50PPW2X" target="_blank" class="w-inline-block">
                            <img loading="lazy" src="/images/icons/slack-footer.svg" alt=""/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center; padding: 0 0 60px; margin-top: -30px;">
        <a href="https://filecoin.cloud" target="_blank" style="display: inline-flex; align-items: center; gap: 14px; text-decoration: none;">
            <span style="font-family: 'IBM Plex Sans', sans-serif; font-size: 14px; font-weight: 400; color: #bbb;">Hosted on</span>
            <img src="/images/logos/filecoin-onchain-cloud.png" alt="Filecoin Onchain Cloud" style="height: 64px;" loading="lazy"/>
        </a>
    </div>
</div>
