---
const currentPath = Astro.url.pathname
const isActive = (href: string) => {
  if (href === '/') return currentPath === '/' || currentPath === ''
  return currentPath === href || currentPath.startsWith(href + '/')
}
const linkClass = (href: string) =>
  `button-secondary w-inline-block${isActive(href) ? ' w--current' : ''}`
const ariaCurrent = (href: string) => (isActive(href) ? 'page' : undefined)
---
<div data-collapse="medium" data-animation="default" data-duration="400" fs-scrolldisable-element="smart-nav" data-easing="ease" data-easing2="ease" role="banner" class="navbar_component w-nav">
    <div class="navbar_container">
        <a href="/" aria-current={ariaCurrent('/')} class={`navbar_logo-link w-nav-brand${isActive('/') ? ' w--current' : ''}`}>
            <img style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(90deg) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(90deg) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(90deg) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(90deg) rotateY(0) rotateZ(0) skew(0, 0);transform-style:preserve-3d" data-w-id="e644d561-803c-c19b-1fa5-c85cb350740c" alt="Main logo" src="/images/logos/logo-full.svg" loading="lazy" class="navbar_logo"/>
            <img style="-webkit-transform:translate3d(-50px, 80px, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(90deg) skew(0, 0);-moz-transform:translate3d(-50px, 80px, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(90deg) skew(0, 0);-ms-transform:translate3d(-50px, 80px, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(90deg) skew(0, 0);transform:translate3d(-50px, 80px, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(90deg) skew(0, 0);transform-style:preserve-3d" data-w-id="e644d561-803c-c19b-1fa5-c85cb350740d" alt="Main logo" src="/images/logos/logo-text.svg" loading="lazy" class="navbar_logo"/>
        </a>
        <nav role="navigation" data-w-id="e644d561-803c-c19b-1fa5-c85cb350740e" style="filter:blur(50px)" class="navbar_menu w-nav-menu">
            <a href="/" aria-current={ariaCurrent('/')} class={linkClass('/')}>
                <p class="nav-link-text">Home</p>
            </a>
            <a href="/events" aria-current={ariaCurrent('/events')} class={linkClass('/events')}>
                <p class="nav-link-text">Events</p>
            </a>
            <a href="/resources" aria-current={ariaCurrent('/resources')} class={linkClass('/resources')}>
                <p class="nav-link-text">Resources</p>
            </a>
            <a href="/blog" aria-current={ariaCurrent('/blog')} class={linkClass('/blog')}>
                <p class="nav-link-text">Blog</p>
            </a>
        </nav>
        <div data-w-id="e644d561-803c-c19b-1fa5-c85cb3507423" class="navbar_menu-button w-nav-button">
            <div class="menu-icon1">
                <div class="menu-icon_line-top"></div>
                <div class="menu-icon_line-middle">
                    <div class="menu-icon_line-middle-inner"></div>
                </div>
                <div class="menu-icon_line-bottom"></div>
            </div>
        </div>
    </div>
    <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
</div>
